body {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/913/original/2e532971402124e5bd7bdae58e166cdc.jpg?1706074821");

  background-color: #f9f7fe;
}
h1 {
  margin: 0px;
  font-size: 38px;
  line-height: 48px;
  font-family: "Playfair Display", serif;
}
p {
  font-size: 16px;
  line-height: 20px;
  color: #27214266;
}
strong {
  font-weight: 200;
  color: red;
}
.visible-temperature {
  display: flex;
}
.emoji {
  height: 88px;
  width: 88px;
}
.temperature {
  font-size: 88px;
  font-weight: 700;
}
.degrees {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 400;
}

.weather-app {
  background: #e3f6f5;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 60px auto;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 10px;
  width: 65%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #f5d20e;
  color: rgb(24, 21, 21);
  border: none;
  padding: 10px;
  line-height: 1;
  border-radius: 5px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 5px;
}

footer {
  text-align: center;
  padding: 30px 0 0 0;
  border-top: 1px solid #f9f7fe;
  font-size: 15px;
  color: #27214266;
}
a {
  color: #885df1;
}
